:root {
  --24: rgb(24, 24, 24);
  --32: rgb(32, 32, 32);
  --48: rgb(48, 48, 48);
  --64: rgb(64, 64, 64);
  --104: rgb(104, 104, 104);
  --128: rgb(128, 128, 128);
  --192: rgb(192, 192, 192);
  --208: rgb(208, 208, 208);
  --pink: #AA717C;
  --pink-bright: #BC838E;
  --pink-brighter: #D59CA7;
  --pink-link: #FFA3B5;
  --primary: #AA717C;
}

::selection {
  color: var(--64) !important;
  background: #ffc1c6 !important;
}

body {
  color: var(--192);
  background-color: var(--24);
}

/* Make working with the custom CSS field easier */
textarea {
  font-family: monospace;
  font-size: 13px !important;
  /* resize: both; */
  /* z-index: 5; */
}

.error {
  color: #D83636;
  text-align: center;
}

.loading-icon {
  border: 2px solid var(--192);
  border-left-color: var(--128);
}

.text-secondary {
  color: var(--128) !important;
}

/* Header styling for simpler pages */
#header, .top-header, .sf-md-viewer-topbar-first, .sf-md-viewer-topbar-first-narrow {
  background: var(--48);
  border-bottom: 1px solid var(--64);
}

/* Hide ad link for pro version on Info page */
[href*="deploy_pro"] {
  display: none;
}

/* System Admin settings side nav menu */
.sf-heading {
 color: var(--192);
}
.nav-pills .nav-item .nav-link.active {
  background-color: var(--pink) !important;
  border-radius: 6px;
}
.nav-pills .nav-item .nav-link:hover {
  background-color: var(--64);
  border-radius: 6px;
}
.active > .nav-text {
  color: white !important;
}
.nav-text, .side-nav-con [class^="sf2-icon-"] {
  color: var(--192);
}
.side-nav-con .nav .nav-item, .side-nav-con .nav .nav-item .nav-link {
	padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
	margin-right: 0;
	width: 100%;
}

/* User Settings page */
.user-setting-nav .nav-item.active .nav-link {
  border-color: var(--pink-link);
  color: var(--pink-link) !important;
  /* background-color: var(--48); */
  border-bottom: none;
}
.user-setting-nav .nav-item .nav-link {
  color: var(--128);
}
/* Uncomment to style user settings sidebar like admin settings */
/* .user-setting-nav .nav-item.active .nav-link {
  color: white !important;
  font-weight: bold;
  background-color: var(--pink) !important;
  border: none;
  border-radius: 6px;
}
.user-setting-nav .nav-item .nav-link {
  color: var(--192);
  padding: 0.4rem 0 0.4rem 0.9rem;
  margin: 0.25em 0;
}
.user-setting-nav .nav-item .nav-link:hover {
  background-color: var(--64);
  border-radius: 6px;
} */

/* Password change page */
.new-narrow-panel {
  /* border: 1px solid var(--64); */
  border: none;
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
  /* background: var(--32); */
  background: none;
  margin: 20vh auto 0 auto;
}
.new-narrow-panel * {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.new-narrow-panel .hd {
  color: var(--192);
  font-size: 1.5rem;
  padding: 50px 20px 4px;
  margin-bottom: 1rem;
  background: none;
  border-bottom: none;
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid var(--48);
}
.new-narrow-panel .con {
  padding-top: 0;
}
.new-narrow-panel .con label {
  /* display: none; */
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--128);
}
.new-narrow-panel .con input {
  margin-top: 2px;
  height: 36px;
  background-color: var(--32) !important;
  border: 1px solid var(--64) !important;
}
.new-narrow-panel .con input:hover, .new-narrow-panel .con input:focus {
  background-color: var(--48) !important;
  border: 1px solid var(--64) !important;
}
.new-narrow-panel .con #id_old_password::placeholder {
  content: "test"; /* fuck */
}
input.submit {
  border-radius: 6px;
  color: var(--192);
}

/* Image slideshow when opened in same tab */
.ril__toolbarItem {
  color: var(--192);
}
.ril__navButtons, .ril__builtinButton {
  opacity: 0.5;
  transition: opacity 0.2s;
}
.ril__navButtons:hover, .ril__builtinButton:hover {
  opacity: 0.75;
}
.ril__builtinButtonDisabled {
  opacity: 0.2 !important;
}
/* Use pixel interpolation when zoomed in */
.ril__image {
  image-rendering: auto;
}
.ril__image[style*="cursor: move"] {
  image-rendering: crisp-edges;
}

/* Markdown editor */
.sf-md-viewer-content {
  filter: invert(100%) hue-rotate(180deg) contrast(80%);
}
.sf-md-viewer-content .sf-image {
  filter: contrast(120%) invert(100%) hue-rotate(180deg);
}

/* Fix broken collapsibles in sidebar on file view */
ul.grp-list.side-panel-slide {
  height: 36px !important;
}
ul.side-panel-slide {
  height: 128px !important;
}
.side-nav-con .toggle-icon {
  margin-right: 6px;
}

/* For some pages in admin settings, remove line on header as it's inconsistent */
.border-left-show::before {
  display: none;
}

img.avatar, img.user-avatar {
  border-radius: 25% !important;
}
.avatar-edit {
  border-radius: 25%;
}

/* Search and notification buttons on header of file view */
#notification-popover, .top-search-file-icon {
  color: var(--128) !important;
  transition: color 0.2s;
}
#notification-popover:hover, .top-search-file-icon:hover {
  color: var(--208) !important;
}

.main-panel-north, .side-panel-north, .file-view-header {
  background: var(--48) !important;
  border-bottom: 1px solid var(--64) !important;
}
.side-panel-center {
  border-right: 1px solid var(--48) !important;
}
.side-panel-footer {
  border-right: 1px solid var(--48);
}
.side-nav-footer {
  background: rgb(20, 20, 20) !important;
  border-top: 1px solid var(--48);
}

.cur-view-path, h2.heading {
  background-color: var(--24) !important;
  color: var(--192);
}
h2.heading {
  border-bottom: 1px solid var(--48) !important;
  padding: 8px 0;
  margin: 0 16px;
}
.cur-view-path::after {
  border-bottom: 1px solid var(--48) !important;
}

h4.border-bottom, .info-item-heading {
  border-bottom: 1px solid var(--48) !important;
}

textarea,
.form-control,
.btn-secondary,
.input,
.language-selector > [class*="-control"],
#id_captcha_1,
.true__control,
.css-1yl8597-control,
.true__menu,
#react-select-18-listbox,
.permission-editor__control,
.big-new-file-button {
  background-color: var(--32) !important;
  color: var(--192) !important;
  border: 1px solid var(--48) !important;
  border-radius: 6px !important;
  transition: color 0.2s, background-color 0.2s, border 0.2s !important;
}
textarea:hover,
.form-control:hover,
.btn-secondary:hover,
.input:hover,
.language-selector > [class*="-control"]:hover,
.css-18i9lch-control,
#id_captcha_1:hover,
.true__control:hover,
.css-1yl8597-control:hover,
.true__menu:hover,
#react-select-18-listbox:hover,
.permission-editor__control:hover,
.big-new-file-button:hover {
  background-color: var(--48) !important;
  color: var(--208) !important;
  border: 1px solid var(--64) !important;
}
.css-1dimb5e-singleValue {
  color: var(--208) !important;
}
textarea:focus,
.form-control:focus,
.input:focus,
.css-1yl8597-control:focus,
.css-18i9lch-control:focus,
#id_captcha_1:focus,
.true__control:focus,
.css-1yl8597-control:focus,
.true__menu:focus,
#react-select-18-listbox:focus;
.permission-editor__control:focus,
.big-new-file-button:focus {
  background-color: var(--48) !important;
  color: var(--208) !important;
  border: 1px solid var(--64) !important;
}
.sf-view-mode-btn.current-mode {
  background-color: var(--32) !important;
  color: var(--192) !important;
}
img.captcha {
  border-radius: 6px;
}

.btn-primary {
  color: white;
  background-color: var(--pink);
  border: 1px solid var(--pink) !important;
  border-radius: 6px;
}
.btn-primary:hover {
  background-color: var(--pink-bright);
  border: 1px solid var(--pink-brighter)  !important;
}
.btn-primary:focus {
  background-color: var(--pink-bright);
  border: 1px solid var(--pink-brighter)  !important;
}

.btn-outline-primary {
  color: var(--pink);
  border-color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 6px;
}
.btn-outline-primary:hover {
  color: white;
  border-color: var(--pink);
  background-color: var(--pink);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: var(--208);
  background-color: var(--pink);
  border-color: var(--pink);
}

/* Tables (file view) */
tr > td {
  color: var(--128);
  border-bottom: 1px solid var(--48);
}
tr > th {
  border-bottom: 1px solid var(--48);
}
.tr-highlight {
  background-color: var(--48) !important;
}
.tr-active {
  background-color: var(--64) !important;
}
.tr-drag-effect {
  background-image: none;
  background-position: 2px;
}

/* File view grid mode */
.grid-file-name-link {
  color: var(--192);
  filter: none !important;
}
.grid-item:hover a {
  color: var(--pink-link);
  text-decoration: underline;
}
li.grid-item * {
  background: none !important;
}
.grid-item {
  transition: background-color 0.2s, filter 0.2s;
  border-radius: 12px;
}
.grid-item:hover {
  /* filter: brightness(1.2); */
  background-color: var(--48) !important;
}

a.op-link {
  color: var(--128) !important;
  transition: color 0.2s;
}
a.op-link:hover {
  color: var(--pink-link) !important;
}

.link-dropdown-item {
  color: var(--192);
}

/* Styling "Share library" modal */
.op-target {
  color: var(--pink-link)
}
.modal-header {
  border-bottom: 1px solid var(--64);
}
.share-dialog-content .share-dialog-side {
  border-right: 1px solid var(--64);
}
.border-bottom {
  border-bottom: 1px solid var(--64) !important;
}
.share-dialog-side .nav-pills .nav-item .nav-link {
  color: var(--192);
  margin-top: 4px;
}
.share-dialog-side .nav-pills .nav-item .active {
  color: white !important;
}
.share-link .cursor-pointer {
  transition: background-color 0.2s;
}
.share-link .cursor-pointer:hover {
  background-color: var(--64);
}
.share-link .cursor-pointer td {
  color: var(--128);
  border-top: 1px solid var(--64) !important;
}
.true__input-container .true__input {
  color: var(--208) !important;
}
.true__multi-value {
  background-color: var(--64) !important;
  border-radius: 6px !important;
}
.true__multi-value .select-module-name {
  color: var(--192) !important;
}
.user-select .true__menu:hover {
  background-color: var(--32) !important;
}
.true__option, .permission-editor__option, div[id*="react-select-"][id*="option"] {
  background-color: var(--32) !important;
  border-radius: 6px !important;
  margin-left: 4px;
  width: calc(100% - 8px) !important;
  transition: background-color 0.2s;
}
.true__option:hover, .permission-editor__option:hover, div[id*="react-select-"][id*="option"]:hover {
  background-color: var(--48) !important;
}
.permission-editor__menu-list {
  background-color: var(--32) !important;
  border-radius: 6px !important;
  border: 1px solid var(--64);
}
.css-1nmdiq5-menu {
	background-color: var(--32) !important;
  overflow: hidden;
}
.input-group-text {
  background: none;
  border: none;
  color: var(--128);
}
td .form-control {
  font-size: 0.9em;
  padding: 0 0 0 4px !important;
}

/* Move file, copy file etc. */
.file-chooser-container {
  border: none;
}
.file-chooser-item .item-info, .list-view-header {
  border-radius: 6px;
  border: none;
}
.file-chooser-item .item-info:hover, .list-view-header:hover {
  border-radius: 6px;
  border: none;
  background-color: var(--64);
}
.file-chooser-item .item-active {
  background: var(--pink) !important;
  border-radius: 6px;
  box-shadow: none;
  color: white;
}
.file-chooser-item .item-active:hover {
  background: var(--pink-bright) !important;
}
.file-chooser-item {
  padding: 3px 0 3px 22px;
}
.modal-footer {
	border-top: none;
}

/* Styling small buttons */
.fa-link,
.fa-star,
.fa-ellipsis-v,
.fa-arrow-left,
.fa-pencil-alt,
.op-icon,
.sf-dropdown-toggle,
.fa-chevron-left,
.sf2-icon-delete,
.sf2-icon-copy,
.sf2-icon-x3 {
  color: var(--128) !important;
  transition: color 0.2s;
}
.fa-link:hover,
.fa-star:hover,
.fa-ellipsis-v:hover,
.fa-arrow-left:hover,
.fa-pencil-alt:hover,
.op-icon:hover, 
.sf-dropdown-toggle:hover,
.fa-chevron-left:hover,
.sf2-icon-delete:hover,
.sf2-icon-copy:hover,
.sf2-icon-x3:hover {
  color: var(--pink-link) !important;
}
.close {
  color: var(--128);
  text-shadow: none;
  transition: color 0.2s;
}
.close:hover {
  color: var(--208);
}
.action-icon, .attr-action-icon {
  color: var(--128) !important;
  transition: color 0.2s;
}
.action-icon:hover, .attr-action-icon:hover {
  color: var(--pink-link) !important;
}

/* Better trash icon */
.sf2-icon-recycle::before {
  content: "\e016";
}

a, a:hover {
  color: var(--pink-link);
}
.path-link {
  color: var(--pink-link) !important;
}

/* Visible on "Devices" page in admin settings */
.cur-view-path.tab-nav-container .nav .nav-item .nav-link.active {
  color: var(--pink-link) !important;
  border-bottom: 0.125rem solid var(--pink-link);
}
.nav .nav-item .nav-link {
  border-bottom: 0.125rem solid transparent; /* to stop jumping when selected */
  transition: color 0.2s, margin 0.2s, background 0.1s;
  border-radius: 6px;
}
.nav .nav-item .nav-link:hover {
  color: var(--192);
  margin-left: 0.5em;
}

/* Share Admin -> #Links on main file view */
.cur-view-path .nav .nav-item .nav-link.active {
  color: var(--pink-link);
  border-bottom: 0.125rem solid var(--pink-link);
}

/* Shared with groups > #All Groups */
.group-list-panel .group-item-heading {
  border-bottom: 1px solid var(--48);
}
.group-list-panel .group-item-empty-tip {
  border: none;
  color: var(--104);
  padding: 8px 0;
  font-size: 0.85em;
}

/* Notifications page */
.text-orange {
  color: var(--pink-brighter) !important;
  padding-left: 0.3em;
}

/* Statistics page */
.chartjs-render-monitor {
  filter: invert(100%) grayscale(60%) brightness(1.25);
}
.sys-stat-tool {
  color: var(--192) !important;
}
.system-statistic-item {
  border: 1px solid var(--48) !important;
  background-color: var(--32) !important;
  transition: background-color 0.2s, border 0.2s;
}
.sys-stat-tool .item-active, .system-statistic-item:hover {
  border: 1px solid var(--64) !important;
  background-color: var(--48) !important;
}
.rounded-left {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
.rounded-right {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.statistic-traffic-tab .statistic-traffic-tab-item:hover {
  border: none !important;
  color: var(--192) !important;
}
.statistic-traffic-tab .statistic-traffic-tab-item.active {
  border-bottom: 2px solid var(--pink-link) !important;
  color: var(--pink-link) !important;
}
.statistic-reports-title {
  background: none !important;
  color: var(--192) !important;
  border-bottom: 1px solid var(--48);
  padding-left: 0 !important;
  padding-bottom: 2px !important;
}

.empty-tip {
  border: 1px solid var(--48);
  border-radius: 12px;
  background-color: var(--32);
}
.empty-tip > img {
  filter: invert(85%);
}
.no-items-img-tip {
  filter: invert(75%);
}
.empty-tip > h2 {
  color: var(--128);
}
.empty-tip > p {
  color: var(--128);
}

/* Non-admin settings page */
.heading::after {
  display: none;
}
.setting-item-heading {
  border-bottom: 1px solid var(--48);
}
.language-selector > :not([class*="-control"]) {
  border-radius: 12px;
  border: 1px solid var(--64);
}
.language-selector > :not([class*="-control"]) * {
  background-color: var(--48);
}
.language-selector > :not([class*="-control"]) *:hover {
  background-color: var(--64);
}
.language-selector svg {
  color: var(--128) !important;
}

.flex-auto > .side-panel {
  border-right: 1px solid var(--48);
}

/* Invert and filter non-thumbnail file icons */
.dir-icon > [src*="media/img"],
.detail-title > img,
.detail-body > div > [src*="media/img"],
.text-center > [src*="media/img"],
.grid-file-img-link > [src*="media/img"] {
  /*filter: contrast(75%);*/
  filter: invert(100%) hue-rotate(-50deg) contrast(65%);
  /*display: none;*/
}
.dir-icon > [src*="media/img/folder"],
.text-center > [src*="media/img/folder"],
.grid-file-img-link > [src*="media/img/folder"] {
  filter: hue-rotate(-50deg) grayscale(15%) brightness(0.8);
}
/* Filter checkboxes + radio buttons */
input.vam, input.form-check-input, input[type="radio"] {
  /* filter: invert(100%) grayscale(100%) contrast(65%); */
  filter: invert(100%) hue-rotate(310deg) contrast(60%);
}
input.form-check-input {
  padding-right: 4px;
}
.ml-4, .mx-4 {
  margin-left: 1.33rem !important;
}

.uploader-list-view {
  background-color: var(--32);
  border: 1px solid var(--64);
  border-radius: 12px;
  overflow: hidden;
  bottom: 24px;
  right: 24px;
  box-shadow: none;
}
.uploader-list-header {
  background-color: var(--48);
  color: var(--192);
}
.uploader-list-content {
  background-color: var(--32);
}
.upload-name > div {
  color: var(--192);
}
.upload-progress .progress {
  height: 0.75em;
}
.progress {
  background-color: var(--24);
  border-radius: 0.375em;
}
.progress-bar {
  background-color: var(--pink-link);
}

.dropdown-menu {
  border-radius: 12px;
  background-color: var(--48);
  border: 1px solid var(--64);
}
.dropdown-item {
  color: var(--192);
  padding: .25rem 1rem;
}
.dropdown-item:hover {
  background-color: var(--64);
  color: var(--192);
}
.dropdown-divider {
  border-top: 1px solid var(--64);
}

.modal-content {
  background-color: var(--48);
  border: 1px solid var(--64);
  border-radius: 12px;
}

#account {
  margin-left: 0px !important;
}

/* Style user info popup */
#user-info-popup {
  background-color: var(--48);
}
.account-popup {
  right: -7px;
  top: 49px;
}
.txt {
  font-style: italic;
  font-weight: bold;
  line-height: 30px !important;
}
#quota-bar {
  border: 1px solid var(--128);
}
#quota-usage {
  background: var(--128);
}
.sf-popover {
  background: var(--48);
  border: 1px solid var(--64);
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
}
.account-popup a.item {
  color: var(--192);
  border: none;
}
.account-popup a.item:hover {
  background-color: var(--64);
}
.account-popup .item {
  border-bottom: 1px solid var(--64);
}
.outer-caret {
  border-color: var(--64) transparent;
  color: var(--64);
  display: none;
}
.inner-caret {
  border-color: var(--48) !important;
  color: var(--48);
  display: none;
}

/* Style notifications popup */
.notification-container {
  background: var(--48);
  border: 1px solid var(--64);
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
}
.notification-container .notification-header {
  border-bottom: 1px solid var(--64);
}
.notification-container .notification-body .mark-notifications {
  border-bottom: none;
	color: var(--128);
}
.notification-body .notification-footer {
  color: var(--128);
  background: var(--32);
  border-radius: 0;
  border-top: 1px solid var(--64);
}
.notification-container .notification-header .notification-close-icon {
  opacity: 1.0 !important;
  color: var(--128);
  transition: color 0.2s;
}
.notification-container .notification-header .notification-close-icon:hover {
  color: var(--192);
}
#notice-popover li {
  border-bottom: none;
}
#notice-popover li.unread {
  border-left: 3px solid var(--pink-link);
}
#notice-popover li:hover {
  background: var(--64);
}
#notice-popover li.read {
  border-left: 3px solid transparent;
  transition: background 0.1s, border 0.1s;
}
#notice-popover li.read:hover {
  background: var(--64);
  border-left: 3px solid var(--pink);
}
#notifications .num {
  background: #E7768C;
  font-size: 13px;
  font-weight: bold;
  height: 17px;
  min-width: 17px;
  line-height: 15.5px;
  left: -4px;
  top: -4px;
}

.file-view-content {
  background: var(--24);
}
.file-view-tip {
  background: var(--32);
  box-shadow: none;
  border: 1px solid var(--48);
  border-radius: 12px;
}
.cur-view-detail {
  box-shadow: none;
}
.detail-container {
  border-left: 1px solid var(--64);
  background-color: var(--32);
  box-shadow: none;
}
.detail-header {
  background-color: var(--48);
  border-bottom: 1px solid var(--64);
}
.detail-title > .name {
  color: var(--192) !important;
}
.dirent-table-container td {
  color: var(--104);
}
.detail-header .detail-control {
  color: var(--128);
  transition: color 0.2s;
  cursor: pointer;
}
.detail-header .detail-control:hover {
  color: var(--208);
}

/* Styling image viewer */
#image-view {
  background: none;
  border: none;
  /*box-shadow: 0 0 48px rgb(20, 20, 20);*/
}

/* Styling text file viewer/editor */
.text-file-view .cm-editor {
  border: 1px solid var(--64);
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
  max-width: 1200px;
}
.ͼ2 .cm-gutters {
  background-color: var(--48);
  color: var(--128);
  border-right: 1px solid var(--64);
}
.cm-content {
  background-color: var(--32);
}
.ͼ4 .cm-line {
  caret-color: var(--192) !important;
}
.ͼ15 {
  background: none;
}
.ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {
  border: none;
}
.ͼ4 .cm-line::selection {
  color: var(--192) !important;
  background: var(--64) !important;
}

/* Styling file history page */
.old-history-main > h2 {
  color: var(--128);
  text-transform: lowercase;
}
.old-history-main .file-name {
  color: var(--pink-link);
  text-transform: none;
  /* margin-right: 0.2em; */
}
.old-history-main .commit-list .username {
  color: var(--pink-link);
}
.commit-list span {
  color: var(--128);
}

/* Styling user profile page */
#user-profile {
  width: 290px;
  background-color: var(--48);
  border: 1px solid var(--64);
  border-radius: 12px;
}

/* Styling login screen */
.login-panel {
  background: var(--48);
  border: 1px solid var(--64);
  border-radius: 12px;
  padding: 20px 60px;
  width: 390px;
  margin: 0 auto;
  box-shadow: 0 0 256px #000;
}
#login-bottom .bottom-item {
    border-right: 1px solid var(--pink);
}
/* Langauge selection menu */
.sf-popover-con > li > a {
  color: var(--192) !important;
  border-radius: 6px;
}
.sf-popover-con > li > a:hover {
  background-color: var(--64) !important;
}

/* Popup toasts */
[data-evergreen-toaster-container] > span > div > div > div {
  border-radius: 4px;
  background-color: var(--32) !important;
  box-shadow: none;
}
[data-evergreen-toaster-container] > span > div > div > div * {
  color: var(--192) !important;
}

@media (max-width: 767px) {
  .side-panel {
    background: var(--24);
  }
}
@media (max-width: 767px) {
  .side-panel-north {
    border-right: 1px solid var(--48);
  }
}

@media (max-width: 767px) {
  .side-panel {
    background: var(--24) !important;
  }
}
@media (max-width: 767px) {
  .side-panel-north {
    border-right: 1px solid var(--48) !important;
  }
}
@media (max-width: 767px) {
  .search-input {
    box-shadow: none !important;
  }
}
.mobile-operation-menu {
  background: var(--48);
  border-top: 1px solid var(--64) !important;
}
.mobile-menu-item {
  border-radius: 12px;
  margin: 4px 12px 4px 12px;
  width: calc(100% - 24px);
  filter: hue-rotate(310deg) grayscale(50%);
}